
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/Login.cshtml";
}

<section class="login_content">

    @using (Html.BeginForm())
    {
        <h1>Password Recovery</h1>
        <h2>Please enter you email address and we'll send you the recovery password</h2>
        <div>
            <input type="email" class="form-control" name="UserName" placeholder="Email..." required="" />
        </div>
        <div class="row text-center">
            <input type="submit" value="Submit" class="btn btn-success" style="float:none;margin-left:0;" />
            
            <!--<a class="reset_pass" href="#">Lost your password?</a>-->
        </div>
        <div class="clearfix"></div>
        <div class="separator">
            <div class="clearfix"></div>
            <br />
            <div>
                <h1><i class="fa fa-tasks"></i> ALM Upgrade</h1>
            </div>
        </div>
    }

</section>

