<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f2a4535-e071-4f5e-831d-30c1c200723d/resourceGroups/SAAS/providers/Microsoft.Web/sites/upgradetool</ResourceId>
    <ResourceGroup>SAAS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://upgradetool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>upgradetool.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>upgradetool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$upgradetool</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ALMEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=upgradetool.database.windows.net;Initial Catalog=upgrade;Persist Security Info=True;User ID=dsolis;Password=Daniela.sol-16;Application Name=EntityFramework" Name="Data Source=upgradetool.database.windows.net;Initial Catalog=upgrade;Persist Security Info=True;User ID=dsolis;Password=Daniela.sol-16;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ALM_Upgrade.Models.ALMEntities, ALM Upgrade" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ALMEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ALM.csdl|res://*/Models.ALM.ssdl|res://*/Models.ALM.msl;provider=System.Data.SqlClient;provider connection string="Data Source=upgradetool.database.windows.net;Initial Catalog=upgrade;Persist Security Info=True;User ID=dsolis;Password=Daniela.sol-16;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>